.hook-canva-container {
    background-color: var(--sc-bg-color);
    color: var(--sc-txt-color);
    font-family: "Manaspace";
    border-radius: var(--sc-radius);
    border: var(--sc-border-type-ext) 5px var(--sc-line-color);
    margin: 5px 0 5px 0;
}

.side1 {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.side2 {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.padding-top {
    padding-top: 3em;
}

.padding-top1 {
    padding-top: 1em;
}

.padding-top2 {
    padding-top: 2em;
}