.hero-container {
  color: var(--sc-txt-color); 
  margin-bottom: var(--sc-margin);
  cursor: default;
}

.hero-container h1 {
  padding-top: var(--sc-margin);
}

.hero-container a {
  text-decoration: none;
  color: var(--sc-txt-color);
  padding: var(--sc-margin);
}

.hero-container a:hover {
  border-radius: var(--sc-radius);
  background-color: var(--sc-txt-color);
  color: var(--sc-bg-color);
}
