.retro {
    cursor: default;
}

.about-img {
    width: 30rem;
}

.team-img {
    width: 18rem;
    height: 18rem;
    border-radius: var(--sc-radius);
}

.team-github-linkedin-logo {
    color: var(--sc-txt-color);
}

.subtitle {
    font-style: italic;
}
