.contact-btn {
    font-family: "Manaspace";
    color: var(--sc-bg-color);
    background-color: var(--sc-txt-color);
    padding: .3rem;
    border-radius: var(--sc-radius);
}

.input {
    font-weight: bolder;
}

.contact-map {
    border-radius: var(--sc-radius);
}

.contact-icons {
    height: 2rem;
}

.bg-contact a{
    color: var(--sc-txt-color);
    text-decoration: none;
}
