.header-container {
    background-color: var(--sc-bg-color);
    height: 20%;
    width: 100%;
}

.header-logo {
    height: 6rem;
}

.retro {
    font-family: "Manaspace";
    background-color: var(--sc-bg-color);
    color: var(--sc-txt-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: var(--sc-radius);
    border: double 5px var(--sc-txt-color);
}

.nav-link {
    font-family: 'Manaspace', sans-serif;
    color: var(--sc-txt-color) !important;
}

.search-btn {
    background-color: var(--sc-bg-color);
    color: var(--sc-txt-color);
    opacity: .5;
}

.search-btn:hover {
    background-color: var(--sc-txt-color);
    color: var(--sc-bg-color);
    opacity: 1;
}

a:hover {
  font-weight: bolder;
  transition: 0.3s ease-out;
}
