.header-container {
    background-color: var(--sc-bg-color);
    height: 20%;
    width: 100%;
}

.header-logo {
    height: 6rem;
}

.retro {
    font-family: "Manaspace";
    color: var(--sc-txt-color);
    background-color: var(--sc-bg-color);
    padding: 0;
    border-radius: var(--sc-radius);
    border: var(--sc-border-type-ext) 5px var(--sc-line-color);
}

.navbar {
    background: none !important;
}

.nav-link {
    font-family: 'Manaspace', sans-serif;
    color: var(--sc-txt-color) !important;
}

.nav-item {
    height: auto !important;
}
