.header-container {
    background-color: var(--sc-bg-color);
    height: 20%;
    width: 100%;
}

.header-logo {
    height: 6rem;
}

@font-face {
    font-family: "Karmatic Arcade";
    src: url("../../assets/fonts/karmatic_arcade.ttf");
}

@font-face {
    font-family: "Manaspace";
    src: url("../../assets/fonts/mana_space.ttf");
}

.retro {
    font-family: "Manaspace";
    color: var(--sc-txt-color);
    background-color: var(--sc-bg-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: var(--sc-radius);
    border: double 5px var(--sc-line-color);
    margin: 3px;
}

.dg {
    color: rgb(51, 255, 51);
}

.nav-link {
    font-family: 'Manaspace', sans-serif;
    color: rgb(51, 255, 51) !important;
}
