.footer-container {
  width: 100%;
  background: var(--sc-bg-color);
  padding-top: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  height: 6rem;
  padding-right: 1rem;
}

.footer-subscription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: var(--sc-txt-color);
}

.footer-subscription>p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items>h4 {
  color: var(--sc-txt-color);
  cursor: default;
}

.footer-link-items a {
  color: var(--sc-txt-color);
  text-decoration: none;
}

.footer-link-items a:hover {
  font-weight: bolder;
  transition: 0.3s ease-out;
}

/* Social Icons */
.social-icon-link {
  color: var(--sc-txt-color);
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.social-logo {
  color: var(--sc-txt-color);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website-rights {
  color: var(--sc-txt-color);
  margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {}
