.modal-bg {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal {
  background-color: #ccc;
  font-family: Arial, sans-serif;
  position: fixed;
  height: 50vh;
  width: 50vw;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  z-index: 3;
}

.show-button {
  cursor: pointer;
  text-decoration: underline;
}
