.game-card {
  --sc-txt-color: rgb(51,255,51);
  --sc-bg-color: rgb(40,40,40);
  --sc-line-color: rgb(51,255,51);
  --sc-radius: 10px;
  --sc-border-type: double;
  color: var(--sc-txt-color);
  background-color: var(--sc-bg-color);
  width: 18rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: var(--sc-radius);
  border: double 1px var(--sc-line-color);
  margin: 3px;
}

.game-card-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  border-top-left-radius: var(--sc-radius);
  border-top-right-radius: var(--sc-radius);
  border-bottom: double 1px var(--sc-line-color);
  margin: 0;
}

.game-card-img {
  width: 100%;
  border: 0;
  border-top-left-radius: var(--sc-radius);
  border-top-right-radius: var(--sc-radius);
  margin: 0;
  z-index: 666;
}

.game-favorite {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 777;
}

.game-feedback {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 777;
}

.game-card-body {
  display: flex;
  flex-direction: column;
} 

.game-card-body.h3 {
  color: var(--sc-txt-color);
}

.game-card-body.p {
  color: var(--sc-txt-color);
}

.game-card-footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  border-bottom-left-radius: var(--sc-radius);
  border-bottom-right-radius: var(--sc-radius);
  border-top: double 1px var(--sc-line-color);;
  margin: 0;
}

.game-fan {
  color: var(--sc-txt-color);
}

.game-evaluator {
  color: var(--sc-txt-color);
}