
.game-card {
  font-family: "Manaspace";
  color: var(--sc-txt-color);
  background-color: var(--sc-bg-color);
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(25% - 1em);
  padding: 0;
  border-radius: var(--sc-radius);
  border: var(--sc-border-type-ext) 5px var(--sc-line-color);
  margin: 0;
}

.game-card-header {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  border-top-left-radius: var(--sc-radius);
  border-top-right-radius: var(--sc-radius);
  border-bottom: var(--sc-border-type-int) 1px var(--sc-line-color);
  margin: 0;
}

.game-card-img {
  width: 100%;
  border: 0;
  border-top-left-radius: var(--sc-radius);
  border-top-right-radius: var(--sc-radius);
  margin: 0;
}

.game-favorite {
  position: absolute;
  top: 5px;
  left: 10px;
  color: var(--sc-txt-color);
  font-size: larger;
}

.game-feedback {
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--sc-txt-color);
  font-size: larger;
}

.game-card-body {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0px 5px 0px 5px;
} 

.game-card-body.h3 {
  font-family: "Karmatic Arcade";
  color: var(--sc-txt-color);
}

.game-card-body.p {
  font-family: "Manaspace";
  color: var(--sc-txt-color);
}

.game-card-link {
  color: var(--sc-txt-color);
  background-color: var(--sc-bg-color);
  text-decoration: underline overline;
  font-weight: normal;
  transition: color 3s, background-color 3s, font-weight 3s, ease;
}

.game-card-link:hover, .game-card-link:active {
  color: var(--sc-bg-color);
  background-color: var(--sc-txt-color);
  text-decoration: underline overline;
  font-weight: bolder;
}

.game-card-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 5%;
  padding: 0px 10px 0px 10px;
  border: 0;
  border-bottom-left-radius: var(--sc-radius);
  border-bottom-right-radius: var(--sc-radius);
  border-top: var(--sc-border-type-int) 1px var(--sc-line-color);;
  margin: 0;
}

.game-fan {
  color: var(--sc-txt-color);
}

.game-evaluator {
  color: var(--sc-txt-color);
}

.modal-bg {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal {
  background-color: #ccc;
  font-family: Arial, sans-serif;
  position: fixed;
  height: 50vh;
  width: 50vw;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  z-index: 3;
}

.show-button {
  cursor: pointer;
  text-decoration: underline;
}
