/*******************/
/* GENERAL STYLING */
/*******************/

.admin-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Manaspace';
  background-color: var(--sc-bg-color);
  color: var(--sc-txt-color);
}

.admin-dashboard-welcome-banner {
  font-family: 'Karmatic Arcade';
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  margin-top: 5px;
}

.admin-dashboard-info-cards-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0;
}

.admin-dashboard-middle-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0;
}

/**************/
/* INFO CARDS */
/**************/

.admin-info-card {
  font-family: "Manaspace";
  font-size: var(--sc-font-size);
  color: var(--sc-txt-color);
  background-color: var(--sc-bg-color);
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: var(--sc-radius);
  border: var(--sc-border-type-ext) 5px var(--sc-txt-color);
  margin: 3px;
  box-shadow: var(--sc-card-shadow);
}

.admin-info-card-header {
  font-size: var(--sc-font-size-title);
  display: flex;
  justify-content: center;
  align-content: center;
  height: 10%;
  padding: 3px;
  border: 0;
  border-top-left-radius: var(--sc-radius);
  border-top-right-radius: var(--sc-radius);
  border-bottom: var(--sc-border-type-int) 1px var(--sc-txt-color);
  margin: 0;
}

.admin-info-card-body {
  font-size: var(--sc-font-size-small);
  display: flex;
  flex-direction: column;
  flex: 1;
  height: auto;
  overflow: auto;
  padding: 5px;
}

.admin-info-card-footer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 10%;
  padding: 3px 10px 3px 10px;
  border: 1px;
  border-bottom-left-radius: 5px; /*var(--sc-radius);*/
  border-bottom-right-radius: 5px; /*var(--sc-radius);*/
  border-top: var(--sc-border-type-int) 1px var(--sc-txt-color);;
  margin: 0;
  color: var(--sc-txt-color);
  background-color: var(--sc-bg-color);
  transition: color 1s ease-in-out, background-color 1s ease-in-out;
}

.admin-info-card-footer:hover {
  color: var(--sc-bg-color);
  background-color: var(--sc-txt-color);
}

.admin-info-link {
  background-color: inherit;
  color: inherit;
  /* text-decoration: none; */
  font-style: italic;
  transition: font-style 1s ease-in-out
}

.admin-info-link:hover, .admin-info-link:active {
  background-color: inherit;
  color: inherit;
  /* text-decoration: underline overline; */
  font-style: normal;
}

/***************/
/* USERS TABLE */
/***************/

.users-list-container {
  width: 70%;
  background-color: inherit;
  color: inherit;
  margin: 5px 5px 5px 0;
}

.users-list-table {
  background-color: inherit;
  color: inherit;
  border: var(--sc-border-type-ext) 5px var(--sc-txt-color);
  border-radius: var(--sc-border-type-ext);
}

.users-list-container.th {
  font-family: "Karmatic Arcade";
  font-size:larger;
  font-weight: bolder;
}

.users-list-container.td {
  font-family: "Manaspace";
  font-size: smaller;
  font-weight:lighter
}

/************************/
/* GAME TYPES ACCORDION */
/************************/

.game-types-list-container {
  width: 30%;
  background-color: var(--sc-bg-color);
  color: var(--sc-txt-color);
  margin: 5px 0 5px 5px;
  border-radius: var(--sc-radius);
}

.game-types-list-accordion {
  background-color: var(--sc-bg-color);
  color: var(--sc-txt-color);
  border-radius: var(--sc-radius)
}

.game-types-list-item {
  background-color: var(--sc-bg-color);
  color: var(--sc-txt-color);
  border: var(--sc-border-type-ext) 5px var(--sc-line-color);
}

.game-types-list-item:first-of-type {
  border-radius: var(--sc-radius) var(--sc-radius) 0 0;
}

.game-types-list-item:last-of-type {
  border-radius: 0 0 var(--sc-radius) var(--sc-radius);
}

.accordion-button {
  background-color: var(--sc-bg-color) !important;
  color: var(--sc-txt-color)  !important;
  font-family: "Karmatic Arcade";
}

.accordion-button:focus, .accordion-button:active {
  box-shadow: none;
}

.accordion-button:first-of-type {
  border-radius: var(--sc-radius) var(--sc-radius) 0 0;
}

.accordion-button:last-of-type {
  border-radius: 0 0 var(--sc-radius) var(--sc-radius);
}

.game-types-list-body {
  background-color: var(--sc-bg-color);
  color: var(--sc-txt-color);
  font-family: "Manaspace";
  font-size: smaller;
  font-weight:lighter
}
