/* Admin dashboard general styling */

@font-face {
  font-family: "Karmatic Arcade";
  src: url("../../assets/fonts/karmatic_arcade.ttf");
}

@font-face {
  font-family: "Manaspace";
  src: url("../../assets/fonts/mana_space.ttf");
}

.admin-dashboard-welcome-banner {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.admin-dashboard-top-container {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.admin-dashboard-middle-container {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: flex-start;
}


/* Users info card specific styling */

.admin-info-card {
  --sc-txt-color: rgb(51,255,51);
  --sc-bg-color: rgb(40,40,40);
  --sc-line-color: rgb(51,255,51);
  --sc-radius: 10px;
  --sc-border-type: double;
  font-family: "Manaspace";
  color: var(--sc-txt-color);
  background-color: var(--sc-bg-color);
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: var(--sc-radius);
  border: double 5px var(--sc-line-color);
  margin: 3px;
}

.admin-info-card-header {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  border-top-left-radius: var(--sc-radius);
  border-top-right-radius: var(--sc-radius);
  border-bottom: solid 1px var(--sc-line-color);
  margin: 0;
}

.admin-info-card-body {
  display: flex;
  flex-direction: column;
  padding: 0px 5px 0px 5px;
}

.admin-info-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  border: 0;
  border-bottom-left-radius: var(--sc-radius);
  border-bottom-right-radius: var(--sc-radius);
  border-top: solid 1px var(--sc-line-color);;
  margin: 0;
}

.admin-info-link {
  color: var(--sc-txt-color);
  background-color: var(--sc-bg-color);
  text-decoration: underline overline;
  font-weight: normal;
  transition: color 3s, background-color 3s, font-weight 3s, ease;
}

.admin-info-link:hover, :active {
  color: var(--sc-bg-color);
  background-color: var(--sc-txt-color);
  text-decoration: underline overline;
  font-weight: bolder;
}