/* JBV 24.06.2022 @ 23h16 : Utile sachant qu'on fait déjà des imports React Bootstrap ?? */
@import 'bootstrap/dist/css/bootstrap.min.css';
/* JBV 24.06.2022 @ 23h16 : Utile sachant qu'on fait déjà des imports React Bootstrap ?? */

/* BEGIN JBV 24.06.2022 23:48 */
/* Trying to insert these generic / reset rules at highest level in code hierarchy */
@font-face {
  font-family: "Karmatic Arcade";
  src: url("./assets/fonts/karmatic_arcade.ttf");
}

@font-face {
  font-family: "Manaspace";
  src: url("./assets/fonts/mana_space.ttf");
}

:root {
  --sc-txt-color: rgb(51,255,51);
  --sc-bg-color: rgb(40,40,40);
  --sc-line-color: rgb(51,255,51);
  --sc-radius: 10px;
  --sc-border-type-ext: double;
  --sc-border-type-int: solid;
  --sc-font-size: 14px;
  --sc-font-size-small: 10px;
  --sc-font-size-large: 18px;
  --sc-font-size-title: 24px;
}

/* END JBV 24.06.2022 23:48 */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
