@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: "Karmatic Arcade";
  src: url("./assets/fonts/karmatic_arcade.ttf");
}

@font-face {
  font-family: "Manaspace";
  src: url("./assets/fonts/mana_space.ttf");
}

:root {
  --sc-modal-bg-color: rgba(40,40,40,0.5);
  --sc-card-shadow: 8px 6px 12px rgba(51,255,51, 0.3);
  --sc-margin: .75rem;
  --sc-radius: .75rem;
  --sc-border-type-ext: double;
  --sc-border-type-int: solid;
  --sc-font-size: 1rem;
  --sc-font-size-small: .75rem;
  --sc-font-size-large: 1.25rem;
  --sc-font-size-title: 1.5rem;
}

.App {
  text-align: center;
}

body {
  background-color: var(--sc-bg-color);
}

@keyframes Fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
