.container-slider {
  display: flex;
  flex-direction: row-reverse;
  height: 50%;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--sc-radius);
}

.active-anim {
  visibility: visible;
  position: relative;
  border-radius: 1rem;
  border: var(--sc-border-type-ext) 5px var(--sc-txt-color);
  opacity: 1;
  background-color: var(--sc-bg-color);
  height: 25rem;
}

.slider-elements-container {
  position: absolute;
  width: 100%;
  height: 25rem;
}

.slider-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-slide {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.3;
  top: 40%;
}

.btn-slide:hover {
  opacity: 0.7;
  border: var(--sc-border-type-int) 5px var(--sc-txt-color);
  background-color: var(--sc-txt-color);
}

.btn-slide img {
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}

.prev {
  left: 2%;
}

.next {
  right: 2%;
}

.container-dots {
  position: absolute;
  bottom: 5%;
  display: flex;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 5px;
  background-color: var(--sc-txt-color);
  opacity: 0.5;
}

.dot.active {
  background-color: var(--sc-bg-color);
  border: var(--sc-border-type-int) 3px var(--sc-txt-color);
  opacity: 1;
}

@media screen and (max-width: 700px){
  .container-slider {
    margin: 100px 10px 0;
  }
}
